language: python

env:
 global:
 - COVERALLS_PARALLEL=true
 matrix:
 - DB=pgsql
 - DB=mysql
 - DB=sqlite

services:
- postgresql
- mysql

python:
- 2.7
- 3.4
- 3.5
- 3.6
- 3.7

install:
- pip install -U setuptools tox tox-travis coveralls

before_script:
- ./travis-ci.sh

script: tox

notifications:
  webhooks: https://coveralls.io/webhook

after_script:
- coveralls

